.home-container {
  margin: 0px;
  padding: 0px;
  min-width: 270px;
}

.login-btn {
  padding: 7px;
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.89);
  color: rgb(67, 67, 67);
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: rgba(255, 255, 255, 0.748);
}
.message-btn {
  margin-left: 3px;
}

#cart {
  margin-left: 6px;
}

.navbar-nav li {
  margin-left: 30px;
}

.dropdown-menu {
  width: 200px;
  font-size: 0.8em;
}

.form-control {
  background-color: #e7e7e7;
}

.form-control:focus {
  background-color: #e7e7e7;
}

#datalistOptions {
  z-index: 2;
}

/* slider */
.slider {
  font-size: 1em;
  margin-bottom: 40px;
}

#carousel-inner img {
  height: 400px;
}

/* cards */
.loading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.modal-content {
  color: rgba(255, 255, 255, 0.879);
  text-align: center;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.red {
  background-color: rgb(222, 64, 64);
}

.green {
  background-color: rgb(79, 208, 92);
}

.error {
  font-size: 1.2em;
  color: rgb(171, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.home-page-product-section {
  margin: 30px;
}

.card-img-top {
  width: 70%;
}

.card-body {
  font-size: 0.8em;
}

section .row .card {
  padding: 10px;
  width: 90%;
  text-align: center;
  box-shadow: 0px 2px 8px 0px rgba(205, 198, 198, 0.749);
}

.hot-offer-container {
  position: relative;
}

.hot-offer {
  position: absolute;
  right: 5px;
  background-color: rgb(245, 90, 70);
  width: 85px;
  height: 25px;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}

.stars {
  letter-spacing: 3px;
  position: absolute;
  left: 5px;
  color: gold;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons .left {
  display: flex;
  justify-content: space-between;
}

.buttons .extend-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(53, 200, 112);
  margin: 0px 6px;
  transition: 0.75s;
}

.buttons .extend-btn:hover {
  width: 45px;
  height: 45px;
}

.buttons .extend-btn i {
  color: white;
}

.about {
  margin: 0px 20px 10px 20px;
}

.about span {
  margin-right: 10px;
}

#Social i {
  margin: 0px 10px;
  color: white;
  font-size: 2em;
  transition: 0.3s;
}
#Social i:hover {
  color: rgba(255, 255, 255, 0.744);
}

/* footer */
footer {
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

#footer {
  font-size: 0.9em;
  background-color: rgb(21, 21, 21);
  color: rgba(255, 255, 255, 0.744);
}

@media (max-width: 991.9px) {
  .container-header-btn {
    margin-bottom: 15px;
  }
}

@media (min-width: 991.9px) {
  .dropdown-toggle {
    margin-right: 50px;
  }
}

@media (max-width: 600px) {
  .error {
    font-size: 1em;
  }
  #carousel-inner img {
    height: 300px;
  }
  #footer {
    font-size: 0.7em;
  }

  footer {
    font-size: 0.9em;
  }

  .about {
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  #carousel-inner img {
    height: 200px;
  }
}
